[Unit]
Description=SPanel Nginx Service
After=network.target

[Service]
Type=forking
PIDFile=/var/server/run/nginx.pid
ExecStart=/usr/local/openresty/nginx/sbin/nginx -c /var/server/nginx/conf/nginx.conf
ExecReload=/usr/local/openresty/nginx/sbin/nginx -s reload
ExecStop=/usr/local/openresty/nginx/sbin/nginx -s stop
User=root
Group=www-data
WorkingDirectory=/var/server

RuntimeDirectory=spanel
LogsDirectory=spanel
ProtectSystem=full
NoNewPrivileges=true
PrivateTmp=true

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target